<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/add-dish.css}" rel="stylesheet"/>
</head>

<body>
<header th:insert="navigation :: header"></header>
<div class="content">
    <h1 th:text="#{add.dish}"></h1>
    <form class="dish" action="#" th:action="@{/menu/add}" th:object="${dish}" method="POST">

        <input class="text" type="text" th:field="*{name}" placeholder="Dish name...">
        <p class="warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

        <input class="text" type="text" th:field="*{nameUkr}" placeholder="Назва страви...">
        <p class="warning" th:if="${#fields.hasErrors('nameUkr')}" th:errors="*{nameUkr}"></p>

        <input class="text" type="text" th:field="*{imagePath}" placeholder="google.com/image-link/">
        <p class="warning" th:if="${#fields.hasErrors('imagePath')}" th:errors="*{imagePath}"></p>

        <textarea th:field="*{description}" rows="20" placeholder="Dish description"></textarea>
        <p class="warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

        <textarea th:field="*{descriptionUkr}" rows="20" placeholder="Опис страви..."></textarea>
        <p class="warning" th:if="${#fields.hasErrors('descriptionUkr')}" th:errors="*{descriptionUkr}"></p>

        <b th:text="#{price}"></b>
            <input class="price" type="text" th:field="*{price}" placeholder="80.00">
        <p class="warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>

        <b th:text="#{category}"></b>
        <select th:field="*{category}">
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${#locale.toString()} == 'ukr' ? ${category.nameUkr} : ${category.name}">
            </option>
        </select>

        <p class="warning" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
        <button type="submit" th:text="#{save}"></button>
    </form>
</div>
</body>
</html>