<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link th:href="@{/styles/cart.css}" rel="stylesheet"/>
</head>

<body>
<header th:insert="navigation :: header"></header>
<div th:if="${request != null}" class="cart_container">
    <div class="dish" th:each="item : ${request.requestItems}">
        <form action="#" th:action="@{'/cart/delete/' + ${item.dish.id}}" th:method="post">
            <div class="menu_img">
                <button type="submit" class="delete_icon">X</button>
                <img th:src="${item.dish.imagePath}">
            </div>
        </form>
        <div class="details">
            <a th:href="@{'/menu/dish/' + ${item.dish.id}}">
                <h2 th:text="${#locale.toString()} == 'ukr' ? ${item.dish.nameUkr} : ${item.dish.name}"></h2>
            </a>
            <div class="counter-wrapper">
                <b th:text="#{quantity}">: </b>
                <span class="counter">
                    <a th:href="@{'/cart/decreaseQuantity/' + ${item.dish.id}}">
                        <b class="change_button" id="minus"> - </b>
                    </a>
                    <b id="counter" th:text="${item.quantity}"></b>
                    <a th:href="@{'/cart/increaseQuantity/' + ${item.dish.id}}">
                        <b class="change_button" id="plus"> + </b>
                    </a>
                </span>
            </div>
        </div>
        <div class="price">
            <h3 class="item_price" th:text="${item.price/100}"></h3>
            <h3 class="currency" th:text="#{currency}"></h3>
        </div>
    </div>
    <div class="total">
        <div>
            <b id="total" th:text="#{total} + ':'"></b>
            <b id="sum" th:text="${request.totalPrice/100}"></b>
            <b th:text="#{currency}"></b>
        </div>
        <form th:action="@{/cart/checkout}" class="checkout" method="get">
            <button type="submit" th:text="#{checkout}"></button>
        </form>
    </div>
</div>
<div th:if="${request == null}" class="cart_container">
    <h2 th:text="#{no.orders}"></h2>
</div>
</body>

</html>