@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #202020;
}

li,
a,
button {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

p {
    color: white;
    font-size: 10pt;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.nav_links {
    list-style: none;
    margin-right: auto;
}

.nav_links li {
    display: inline-block;
    padding-right: 4rem;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(252, 113, 33);
}

button {
    padding: 9px 25px;
    background-color: rgb(252, 113, 33);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(255, 46, 64);
}

.cart_container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.cart_container .dish {
    display: flex;
    margin-bottom: 7vh;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.cart_container .details {
    width: 40vh;
    margin-left: 7vh;
    color: white;
}

h2 {
    color: rgb(252, 113, 33);
    font-size: 22pt;
    margin-bottom: 3vh;
}

h3 {
    color: white;
    font-size: 24px;
}

.price {
    display: inline-flex;
}

.price h3 {
    margin-left: 1vh;
}

.currency {
    font-weight: 100;
}

.dish_description button {
    margin-top: 3vh;
}

b {
    font-weight: 100;
}

.change_button {
    font-size: 18px;
    cursor: pointer;
}

.counter {
    margin-left: 3vh;
    display: flex;
    flex-direction: row;
}

.cart_container .menu_img {
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: cubic-bezier(1, 0, 0, 1);
}

.menu_img {
    cursor: pointer;
}

.menu_img,
.delete_icon {
    position: absolute;
}

.menu_img .delete_icon {
    display: none;
}

.menu_img:hover .delete_icon {
    display: block;
    font-size: 48px;
    font-weight: 900;
    cursor: pointer;
    color: white;
}

.delete_icon {
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.6);
}

.dish img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.total {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 34px;
    justify-content: center;
}

.checkout {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
}

#sum {
    font-weight: 700;
}